:root{
    --c-xl-radius: 300px;
    --c-l-radius: 200px;
    --c-m-radius: 150px;
    --c-s-radius: 120px;
}

.circle{
    position:absolute;
    
    z-index: -2;

    border-radius:50%;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

    box-shadow: rgba(0,0,0,0.4) 0 0 30px 0;
}

/* circles */
.c-image-xl{
    height: calc(var(--c-xl-radius)*2);
    width: calc(var(--c-xl-radius)*2);
}
.c-image-l{
    height: calc(var(--c-l-radius)*2);
    width: calc(var(--c-l-radius)*2);
}
    
.c-image-m{
    height: calc(var(--c-m-radius)*2);
    width: calc(var(--c-m-radius)*2);
}

.c-image-s{
    height: calc(var(--c-s-radius)*2);
    width: calc(var(--c-s-radius)*2);
}

/*      TITLE PAGE       */

/* images */

#c-img-2{
    background-image: url("../img/strawberry-robot.jpg");

    top:70px;
    right: 2%;
}
#c-img-3{
    background-image: url("../img/strawberry-robot.jpg");

    top:500px;
    left:20%;
}
#c-img-4{
    background-image: url("../img/strawberry-robot.jpg");

    top:100px;
    left: 4%;
}

@media (max-width: 1400px){
    .title-container .title-circle{
        display:none;
        
    }
    #c-img-2{

    }
    #c-img-3{
        /*display:none;*/

    }
    #c-img-4{
        /*display:none;*/

    }
}
@media (min-width: 2000px){
    #c-img-2{
        right:unset;
        left: 75%;
    }
    #c-img-3{
        /*display:none;*/
        left:unset;
        right:70%;
    }
    #c-img-4{
        /*display:none;*/
        left:unset;
        right:80%;
    }
}


/*      CONTENT      */ 

/* images */

#c-img-1{
    background-image: url("../img/strawberry-robot.jpg");
}

/* circles */

    .c-xl-right{
        right:20px;
    }
    .c-xl-left{
        left:20px;
    }
    .c-xl-first-r{
        margin-left: 10%;
        margin-top: 0;
    }
    .c-xl-first-l{
        margin-right: 10%;
        margin-top: 0;
    }
