:root{
    --head-height: 200px;
    --head-circumference: 15000px;
    --red: #e30000; 
    --green: #01af04;
}

#header{
    position: fixed;

    top:0;

    width: 100%;
    height: var(--head-height);

    align-items: center;

    margin-bottom: 20px;
}
#head-circle{
    height: var(--head-circumference);
    width: var(--head-circumference);

    position:absolute;
    left:50%;
    top: calc(var(--head-circumference)*-1 + 220px);

    transform: translate(-50%, 0);

    z-index: -1;
    
    border-radius: 50%;

    background-color: white;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 50px 0px;

    transition: width 0.7s, height 0.7s, top 0.7s;
}
.head-container{
    width: 90%;
    height: var(--head-height);

    padding-left:5%;
    padding-right:5%;
}

.head-element{
    z-index: 10;

    float:left;

    height: inherit;
    width: 16%;

    line-height: var(--head-height);
    text-align: center;

    font-size:26px;
    font-weight: 1000;
}
    .h-side{
        line-height: calc(var(--head-height) - 10px);
    }
    .h-middle{
        line-height: calc(var(--head-height) + 20px);
    }
    .h-left{
        color: var(--green);
    }
    .h-right{
        color: var(--red);
    }

    .head-logo{
        display: flex;
        align-items: center;
        justify-content: center; 

        width: 20%;

        padding-left:8%;
        padding-right:8%;
    }
    .head-element img{
        max-width: 100%;
        height: auto;
    }
    .clearfix::after {
        content: "";
        clear: both;
    }