:root{
    --red: #e30000; 
    --green: #01af04;

    --circle-image-radius: 450px;
}

::-webkit-scrollbar{
    display:none;
}
html, body{
    font-family: "Nunito", serif;
    overflow-x: hidden;

    scroll-behavior: smooth;

    height: 10000px;

    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
    color:inherit;
}

main{
    height:auto;

    margin-top: 150px;
}
.left-container{
    height: 600px;

    padding-left: 100px;
    padding-top: 100px;
}
.content-text{
    width:40%;
    height: inherit;
}
    .container-element{
        float:left;
        
        height: inherit;
    }

    .circle-image{
        position: absolute;
        right:-200px;
        top: 400px;
        z-index: -2;

        height: calc(var(--circle-image-radius)*2);
        width: calc(var(--circle-image-radius)*2);

        border-radius:50%;

        background-image: url("../img/strawberry-robot.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;

        box-shadow: rgba(0,0,0,0.4) 0 0 30px 0;
    }