:root{
    --red: #e30000; 
    --green: #01af04;

    --c-radius: 1100px;
}

::-webkit-scrollbar{
    display:none;
}
html, body{
    font-family: "Nunito", serif;
    overflow-x: hidden;

    scroll-behavior: smooth;

    height: 10000px;

    margin: 0;
    padding: 0; 
}

main{
    height:auto;

    margin-top: 230px;
}
.left-container{
    height: 600px;

    padding-left: 100px;
    padding-top: 100px;
}
.content-text{
    width:40%;
    height: inherit;
}
    .container-element{
        float:left;
        
        height: inherit;
    }


.circle-red{
    background-color: var(--red);

    border-radius: 50%;

    box-shadow: rgba(0,0,0,0.7) 0px 0px 20px 0px;
}
.circle-green{
    background-color: var(--green);

    border-radius: 50%;
    z-index:-2;
    box-shadow: rgba(0,0,0,0.7) 0px 0px 20px 0px;
}
.c-right{
    height: var(--c-radius);
    width: var(--c-radius);

    position:absolute;

    left: 60%;
}